@model SoapFormula.Web.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "More information";
}

<h2>More information</h2>
<table>
    <tr>
        <td>
            @Html.LabelFor(i => i.Name)<br />
            @Html.DisplayFor(i => i.Name)<br/>

            @Html.LabelFor(i => i.Products)<br/>
            @foreach (var c in Model.Products)
            {
                <li> @c.Name </li>
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("back to main page", "Index")
        </td>
    </tr>
</table>

