@using SoapFormula.Web.ViewModel
@model ProductViewModel

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    
    <div class="form-group">
        @Html.LabelFor(i => i.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Price, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(i => i.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Weight, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(i => i.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Weight)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.SelectedCategoriesId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(i => i.SelectedCategoriesId, Model.AllCategories, new { @class = "multiselect-select2" })
            @Html.ValidationMessageFor(i => i.SelectedCategoriesId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.ManufacturerId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(i => i.ManufacturerId, Model.AllManufacturers, "--select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.ManufacturerId)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="save" class="btn btn-default" />
            <input type="button" value="cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Product")'" /> 
        </div>
    </div>
</div>
        
       
    

