@using System.Web.UI.WebControls
@model SoapFormula.Web.ViewModel.ProductViewModel
@{
    ViewBag.Title = "More informations";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(i => i.Name)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Price)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.AllCategories)
        </dt>

        @foreach (var category in Model.AllCategories)
            {
                <dd>
                    @category.Text
                </dd>
            }
    </dl>
</div>
<p>
    @Html.ActionLink("back to main page", "Index")
</p>
